[alias]
    d = diff
    dw = diff --color-words
    st = status -uno
    stu = status
    ci = commit
    add = add -u
    rb = rebase --stat
    sh = diff --stat

    ll = log --pretty=format:"%C(blue)%h\\ %C(yellow)\\ %ad%Cred%d\\ %Cgreen%s%Cblue\\ [%cn]%Creset" --decorate --numstat --date=rfc

    # List commits in short form, with colors and branch/tag annotations.
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate

    # List commits showing changed files
    #ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

    # List with no colors if you need to chain the out put with Unix pipes:
    lnc = log --pretty=format:"%h\\ %s\\ [%cn]"

    # List oneline commits showing dates:
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

    # List oneline commits showing relative dates:
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative

    # here is the default look for short git log:
    le = log --oneline --decorate
[color]
    diff = auto
    grep = auto
    interactive = auto
[user]
    name = sdmac
    email = seanmac@ucla.edu
[core]
    excludesfile = /home/seanmac/.gitignore_global
